@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

body {
  background-color: #222222;
}

/* botao */

#Sobre {
  scroll-behavior: smooth;
}
#Contato {
  scroll-behavior: smooth;
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23232e;
  padding: 1rem;
  position: relative;
}

.logo,
.mobile-menu {
  transition: opacity 0.3s;
  color: #2997e6;
}
.logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 4px;
  padding-left: 40px;
  overflow: hidden;
  animation: slide-right 1s linear;
}

.logo:hover {
  letter-spacing: 15px;
}

@keyframes slide-right {
  0%, 10% {
    transform: translateX(-90%);
    opacity: 0;
  }
  70%, 90% {
    transform: translateX(0);
    opacity: 1;
  }
}



.line1:hover {
  opacity: 0.7;
  background-color: #23232e;;
  
}

.mobile-menu div {
  width: 2rem;
  height: 2px;
  background: #fff;
}

.mobile-menu div:nth-child(2) {
  margin: 0.5rem 0;
}

.nav-list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  padding-right: 40px;
  overflow: hidden;
  animation: slide-left 0.6s linear;
}


.nav-list li:hover {
  letter-spacing: 5px;
  font-size: 1.5rem;
}

a {
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  animation: slide-top 1s linear;
}

@keyframes slide-top {
  0%, 10% {
    transform: translateY(120%);
    opacity: 0;
  }
  70%, 90% {
    transform: translateY(0);
    opacity: 1;
  }
}

a:hover {
  opacity: 0.7;
  color: #2997e6;
}

.nav-list.active {
  transform: translateX(0);
  z-index: 10000;
}

nav .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: relative;
  padding-right: 40px;
}

@media screen and (min-width: 980px) {
  nav .mobile-menu {
    display: none;
  }
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }

  .mobile-menu div {
    transition: all 0.3s;
  }

  .nav-list {
    display: flex;
    position: absolute;
    top: 4rem;
    right: -100%;
    width: 50vh;
    height: 93.4vh;
    background: #23232e;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    text-align: center;
    transition: all 0.3s;
  }

  .active {
    right: 0;
    transform: translateX(100%);
  }
}

.is-active div:first-child {
  position: absolute;
  transform: rotate(45deg);
}

.is-active div:nth-child(2) {
  opacity: 0;
}

.is-active div:last-child {
  position: absolute;
  transform: rotate(-45deg);
}



      /* Header */


header{
  display: flex;
  justify-content: center;
  background-color: #23232e;;
  height: 92vh;
  z-index: 5;
}

header div {
  display: flex;
  justify-content: flex-start;
  background-color: #23232e;;
  flex-direction: row;
  width: 60vw;
}

header div ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header div ul li {
  text-transform: uppercase;
  list-style: none;
}

header div ul li h1 {
  font-size: 1.5em;
  color: #fff;
  opacity: 0.5;
  height: 50px;
  overflow: hidden;
  animation: slide-left 0.8s linear;
}

@keyframes slide-left {
  0%, 10% {
    transform: translateX(90%);
    opacity: 0;
  }
  80% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

header div ul li h1:hover {
  color: #01fe87;
  transform: translateX(60px);
  transition: 0.3s;
  opacity: 1;
}

header div ul li h2 {
  font-size: 4.5em;
  font-weight: bolder;
  color: #fff;
  opacity: 0.7;
  width: 500px;
  overflow: hidden;
  animation: slide-bottom 0.8s linear;
}

@keyframes slide-bottom {
  0%, 10% {
    transform: translatey(150%);
    opacity: 0;
  }
  80% {
    transform: translatey(-25%);
    opacity: 1;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}


header div ul li h2 span {
  position: relative;
  color: #23232e;
  overflow: hidden;
  -webkit-text-stroke: 0.3vw #23232e;
}

header div ul li h2 span::before {
  content: attr(data-texte);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: #fff;
  -webkit-text-stroke: 0vw #23232e;
  border-right: 3px solid #01fe87;
  overflow: hidden;
  animation: animate 6s linear infinite;
  animation-delay: 2s;
}

header div ul li h2 span:hover:before {
  color: #01fe87;
}

@keyframes  animate {
  0%, 10%{
    width: 0;
  }
  70%, 90%{
    width: 100%;
  }
  
}

header div ul li h2:hover {
  transform: translateX(60px);
  color: #01fe87;
  transition: 0.3s;
  opacity: 1;
}

header div ul li p {
  font-size: 2.5em;
  color: #fff;
  opacity: 0.5;
  overflow: hidden;
  animation: slide-right 1s linear;
}

@keyframes slide-right {
  0%, 10% {
    transform: translateX(-120%);
    opacity: 0;
  }
  80% {
    transform: translateX(10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


header div ul li p:hover {
  transform: translateX(60px);
  color: #01fe87;
  opacity: 1;
  transition: 0.3s;
  overflow: hidden;
}

/* main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23232e;
  height: 92vh;
  z-index: 5;
}

main div{
  display: flex;
  flex-direction: column;
  background-color: #23232e;;
  align-items: center;
  width: 60vw;
}
/* main .container-bola{
  border: 4px solid #01fe87;
  border-radius: 50%;
  margin-top: -10px;
  width: 390px;
  height: 390px;
  border-top: 6px solid #2997e6;
  border-bottom: 2px solid #fff;
  animation: loading 2s linear infinite;
  z-index: 9;

}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
} */

main div .imagem{
  border: 5px solid #ffffff;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  margin-top: -20px;
  z-index: 10;
}

main div .imagem:hover {
  border: 5px solid #01fe87;
}

main div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: 20vh;
}
main div ul li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 2em;
  color: white;
  border-left: 2px solid white;
  padding-left: 10px;
  margin-top: 70px;
  width: 800px;
}

main div ul li:hover {
  border-left: 2px solid #01fe87;
}

.lingaugens {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: space-around;
  background-color: #23232e;
  margin-top: 212px;
  height: 0px;
  width: 70vw;
  border: 3px solid #fff;
  background-color: #fff;
}
.lingaugens .imagem-linguagem {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  animation: float 3s linear infinite;
}

.lingaugens .imagem-linguagem:hover {
  width: 125px;
  height: 125px;
  transition: 0.3s linear;
  border: 2px solid #fff;
  background-color: #23232e;
  border-radius: 10px;
  padding: 10px;
  animation: float 3s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-15%);
  }

}


/* Projetos */


/* .Meus-projetos {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Meus-projetos h1 {
  width: 250px;
  height: 50px;
  font-size: 3.0em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #fff;
}

@keyframes identifier {
  
}

.Meus-projetos h1:hover {
  width: 380px;
  height: 70px;
  letter-spacing: 5px;
  font-size: 3.5em;
  color: #2997e6;
}

.div-projetos {
  display: flex;
  height: 80vh;
  width: 100%;
  background-color: #23232e;
  justify-content: center;
  align-items: center;
}

.projetos {
  width: 90vw;
  height: 78vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #23232e;
}

.foto1, 
.foto2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imagens-portifolio{
  width: 50vw;
  height: 38vh;
  border-radius: 40px 0px 0px 40px;
}

.comentario {
  width: 40vw;
  height: 35vh;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: center;
  background-color: #23232e;
  margin: 0px 10px;
  padding-left: 10px;
  border-left: 2px solid #fff;
  font-size: 2.5em;
  color: #fff;
}

.final {
  height: 11vh;
  background-color: #23232e;
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.final .contato {
  font-size: 2em;
  display: flex;
  flex-direction: column;

}

.final .contato p {
  color: #2997e6;
  background-color: #23232e;
}

.final .contato p a {
  color: #fff;
  background-color: #23232e;
}

.rede-social {
  background-color: #23232e;
  border-radius: 100%;
}  

.github {
  width: 60px;
  height: 60px;
}

.final .contato a:hover {
  color: #2997e6;
} */


/* footer {
  display: flex;
  border-top: 1px solid rgb(62, 62, 62);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:#222222;
  height: 8vh;
} */

footer {
  width: 95vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #222222;
}


.rede-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#222222;
}

.email {
  background-color: #222222;
  font-size: 1.5em;
}

.imagem-contato {
  width: 50px;
  height: 50px;
  background-color:#222222;
}

.imagem-contato:hover {
  background-color: #2997e6;
  color: #222222;
  border-radius: 10px;
}


@media (max-width: 1200px) {
  footer {
    width: 99.1vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #222222;
  }
  .lingaugens .imagem-linguagem {
    width: 80px;
    height: 80px;
  }
  .lingaugens .imagem-linguagem:hover {
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 900px) {
  header div {
    background-color: #23232e;
    flex-direction: row;
    overflow: hidden;
    width: 90vw;
  }

  .sobre li p {
    font-size: 20px;
  }
  .lingaugens .imagem-linguagem {
    width: 75px;
    height: 75px;
  }
  .lingaugens .imagem-linguagem:hover {
    width: 90px;
    height: 90px;
  }

}

@media (max-width: 500px) {
  header div {
    display: flex;
    justify-content: flex-start;
    background-color: #23232e;
    flex-direction: row;
    overflow: hidden;
    width: 90vw;
  }
  header ul li{
    font-size: 10px;
  }
  .lingaugens .imagem-linguagem {
    width: 60px;
    height: 60px;
  }
  .lingaugens .imagem-linguagem:hover {
    width: 70px;
    height: 70px;
  }
}

@media (max-height: 840px) {
  .containe .imagem {
    width: 260px;
    height: 260px;
  }
  .containe .imagem:hover {
    width: 260px;
    height: 260px;
    border:  5px solid #01fe87;
  }
  .containe .imagem-linguagem {
    width: 55px;
    height: 55px;
  }
  .containe .imagem-linguagem:hover {
    width: 80px;
    height: 80px;
  }
}

@media (max-height: 730px){
  .containe .imagem {
    width: 200px;
    height: 200px;
    border:  5px solid #fff;
  }
  .containe .imagem:hover {
    width: 200px;
    height: 200px;
    border:  5px solid #01fe87;
  }

  .containe .imagem-linguagem {
    width: 40px;
    height: 40px;
  }
  .containe .imagem-linguagems:hover {
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: #23232e;
  }

  .contato {
    font-size: 15px;
  }

  .rede-social img {
    width: 30px;
    height: 30px;
  }
}